:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    color: var(--branco-principal);
    padding: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: solid 2px var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
    margin-top: 10px;   
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 32px;
    margin: 40px;
}

.dispositivos {
    text-align: center;
    margin: 145px;
}

.dispositivos__titulo {
    font-size: 3em;
    margin: 40px;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.lista__link a {
    text-decoration:none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    color: var(--cinza-secundario);
    margin: 1em 0;
    font-size: 14px;
}

.lista__link a:hover {
    color: #3c92fa;
}
